:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #eeeeee;
  --primary-background-color: #f5f4fa;
  --white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
}
body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

/* ==== COMPONENTS ==== */

.list {
  list-style: none;
}

.buttons.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);
}
.buttons.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: inherit;
}
.buttons.secondary:hover,
.buttons.secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* ==== END COMPONENTS ==== */

/* ==== HEADER ==== */
/* logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}
/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* auth-nav */
.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.navigation {
  background-color: var(--white-color);
}

/* ==== END HEADER ==== */

/* ==== HERO ==== */
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--footer-bg-color);
}

/* ==== END HERO ==== */

/* ==== ABOUT ==== */

/* features */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* team */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.team-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187px;
  letter-spacing: 0.03em;
}
.wokers {
  background-color: #f5f4fa;
}

/* ==== END ABOUT ==== */

/* ==== FOOTER ==== */

/* footer*/

.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.adress .adress-map {
  color: var(--white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress .adress-link {
  color: var(--secondary-white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-footer {
  background-color: var(--footer-bg-color);
}

.adress-map,
.adress-link,
.logo-footer {
  text-decoration: none;
}
/* ==== END FOOTER ==== */

/* ==== PORTFOLIO ==== */

/* filters */

/* ==== PROJECTS ==== */

.projects .link {
  text-decoration: none;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* ==== AND PROJECTS ==== */
