:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #eeeeee;
  --background-color: #ffffff;
  --main-lite-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --main-bg-color: #f5f4fa;
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;

  background-color: var(--background-color);
  color: var(--primary-text-color);
}

/* ==== COMPONENTS ==== */

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.buttons.primary {
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--background-color);
}
.buttons.secondary {
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: inherit;
}
.buttons.secondary:hover,
.buttons.secondary:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ==== END COMPONENTS ==== */

/* ==== HEADER ==== */
/* logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}
/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* auth-nav */
.contacts-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
/* .navigation {
  background-color: var(--background-color);
} */

/* ==== END HEADER ==== */

/* ==== HERO ==== */
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  background-color: var(--footer-bg-color);
}

/* ==== END HERO ==== */

/* ==== ABOUT ==== */

/* features */
.features-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ==== EXAMPLES ==== */

.section-examples {
  background-color: tomato;
}

/* team */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.team-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.187px;
  letter-spacing: 0.03em;
}
.wokers {
  background-color: var(--main-bg-color);
}

/* ==== END ABOUT ==== */

/* ==== FOOTER ==== */

/* footer*/

.logo-footer {
  color: var(--background-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.adress .adress-map {
  color: var(--background-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress .adress-link {
  color: var(--main-lite-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-footer {
  background-color: var(--footer-bg-color);
}

.adress-map,
.adress-link,
.logo-footer {
  text-decoration: none;
}
/* ==== END FOOTER ==== */

/* ==== PORTFOLIO ==== */

/* filters */

/* ==== PROJECTS ==== */

.projects .link {
  text-decoration: none;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* ==== END PROJECTS ==== */
